* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_div {
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
}

.content_div {
  background-color: whitesmoke;
  height: 350px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px white;
  /* display: flex; */
  justify-content: center;

  position: relative;
  margin: auto;
}

button {
  cursor: pointer;
  background-color: aquamarine;
  border-radius: 15px;
}

.display {
  position: absolute;
  top: 170px;
  display: flex;
}
